<nav id="site-navigation" class="main-navigation">
    <button class="menu-toggle " aria-controls="menu" aria-expanded="false"><span class="menu-text">Menu</span></button>
    <div class="main-nav">
    {{navigation}}
    </div>
</nav><!-- #site-navigation -->

<div class="social-navigation social-links">
    {{navigation type="secondary"}}
</div>